<%- include('partials/header.ejs') %>

<body>
    <header class="bg-primary">
        <div class="container">
            <a class="brand-logo" href="/"><i class="bi bi-key-fill"></i> Secrete</a>
        </div>        
    </header>

    <section class="register-login-area">
        <div class="form-container">
            <h1>Log In</h1>
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
    
                <button type="submit" class="btn btn-primary">Create Account</button>
                <p style="margin-top: 1rem">You have not account? <a href="/login">Log In</a></p>
            </form>
        </div>
    </section>

<%- include('partials/footer.ejs') %>